html,
body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(../images/vide-siderale.jpg);
  background-size: cover;
  margin: 0;
  padding: 0;
}

footer {
    text-align: center;
    background: #f1f1f1c0;
    font-size: larger;
  }

  .drapeau {
    max-width: 30px;
    max-height: 30px;
  }

  .content {
    display: flex;
    align-items: center;
  }
  
  h1{
    color: white !important;
  }

  .S-TITRE{
    color: white;
  }

  h1{
    text-align: center;
  }
  header 
  

  