h1,img{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    color:blueviolet;
}
.image-clignote  {
    position: fixed;
    left: 49%;
    top: 50%;
    animation-duration: .8s;
    animation-name: clignoter;
    animation-iteration-count: infinite;
    transition: none;
 }
 @keyframes clignoter {
   0%   { opacity:1; }
   40%   {opacity:0; }
   100% { opacity:1; }
 }