html,
body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(../images/vide-siderale.jpg);
  background-size: cover;
  margin: 0;
  padding: 0;
}
.drapeau {
  max-width: 30px;
  max-height: 30px;
}
.gs {
  max-width: 80px;
  max-height: 80px;
}
.logo {
  max-width: 100px;
  max-height: 100px;
}
.content {
  display: flex;
  align-items: center;
}
.soleil {
  max-width: 700px;
  max-height: 700px;
  position: relative;
  top: 100px;
  right: 200px;
}
.mercure {
  max-width: 50px;
  max-height: 50px;
  position: relative;
  top: 100px;
  right: 300px;
}
.venus {
  max-width: 80px;
  max-height: 80px;
  position: relative;
  top: 100px;
  right: 300px;
}
.terre {
  max-width: 80px;
  max-height: 80px;
  position: relative;
  top: 100px;
  right: 300px;
}
.mars {
  max-width: 70px;
  max-height: 70px;
  position: relative;
  top: 100px;
  right: 300px;
}
.jupiter {
  max-width: 200px;
  max-height: 200px;
  position: relative;
  top: 100px;
  right: 300px;
}
.saturne {
  max-width: 300px;
  max-height: 300px;
  position: relative;
  top: 100px;
  right: 300px;
}
.uranus {
  max-width: 180px;
  max-height: 180px;
  position: relative;
  top: 100px;
  right: 300px;
}
.neptune {
  max-width: 130px;
  max-height: 130px;
  position: relative;
  top: 100px;
  right: 300px;
}
.pluton {
  max-width: 40px;
  max-height: 40px;
  position: relative;
  top: 100px;
  right: 250px;
}
